<div class="container-fluid col-md-8 col-md-offset-2 admin-form">
  <div class="panel panel-primary">

    <div class="panel-heading">
      <h1 class="panel-title">Edit book</h1>
    </div>

    <div class="panel-body admin-form-fields">

      <%= render 'form', book: @book %>

    </div>
  </div>
</div>

